* {
    box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.orash {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.big {
    background-color: blue;
    padding: 100px 430px; 

}
.medium {
    background-color: white;
    border-radius: 7px;
    padding: 25px;
}
.input {
    font-size:15px;
}
